body {
	margin: 0;
	padding: 0;
	font-family: "Fira Code", monospace;
    background-color: rgb(10, 10, 10);
	background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #5D2A67;
    border-radius: 10px;
    backdrop-filter: blur( 10px );
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 10px );
}

.navbar {
	z-index: 1;
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 30px 100px;
    border-radius: 20px;
}

#canvas {
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* Navbar */

.navbar img{
    width: 6%;
}

.navbar .navbar-right{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    /* width: 60vw; */
}

.navbar .download-cv{

    color: white;
    text-decoration: none;
    font-size: 24px;
    background-color: rgba(192, 117, 207, 0.2);
	backdrop-filter: blur( 5px );
    padding: 15px 25px;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: #C075CF;
    transition: 0.5s;
}

.navbar .download-cv:hover{
    box-shadow: rgba(192, 117, 207, 0.8) 0 0 30px 1px;
}

.navbar .right{
    display: flex;
    align-items: center;
    gap: 5vw;
}

/* Home Text */

.text-home{
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-home .hello{
    height: 120px;
}

.text-home .typewritter{
    color: #C075CF;
    font-size: 88px;
}

.text-home span,
.text-home p{
    color: white;
    font-size: 88px;
}

.text-home p{
    margin: 10px 0px;
    font-size: 26px;
    text-align: center;
    width: 50vw;
    margin-bottom: 0px;
}

/* Logo */

.logo{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 1.8vw;
}

.logo .bx{
    color: white; 
    font-size: 3.3vw; 
    background-color: rgba(93, 42, 103, 0.6);
    backdrop-filter: blur( 2px );
    border-radius: 12px;
    transition: 0.5s;
}

.logo .bx:hover{
    font-size: 4vw;
}

/* Slider */
.slider{
    z-index: 1;
    display: flex;
    margin-top: 60px;
    height: var(--height);
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
    background: rgba( 255, 255, 255, 0.2);
    backdrop-filter: blur( 4px );
}

.slider .list{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item,
.slider .list .item2,
.slider .list .item3{
    width: var(--width);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)
}

.slider .list .item img{
    width: 100%;
}

.slider .list .item2 img{
    width: 80%;
}
.slider .list .item3 img{
    width: 110%;
}

@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

/* Projects */
.project-title{
    margin-top: 2vh;
    padding: 10px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title a{
    color: white;
    font-size: 26px;
    transition: 0.3s;
}

.project-title a:hover{
    color: #C075CF;
}

.project-title h1,
.project-title .dot{
    color: white;
    font-size: 64px;
    font-weight: 400;
}

.project-title .dot{
    color: #5D2A67;
}

.projects{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 4vw;
    padding: 0px 50px;
    margin-bottom: 10vh;
}

.projects img{
    z-index: -2;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.jetflix-img,
.ikeafood-img{
    position: relative;
    display: flex;
    height: 100%;
    cursor: pointer;
}

.jetflix-img .text,
.ikeafood-img .text{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.jetflix-img .text img,
.ikeafood-img .text img{
    width: 60%;
    z-index: 2;
}

.bg-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.3);
    backdrop-filter: blur( 1.3px );
    border-radius: 10px;
    transition: background 0.3s, backdrop-filter 0.3s;
}

.jetflix-img:hover .bg-blur,
.ikeafood-img:hover .bg-blur{
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur( 0px );
}

.jetflix-img:hover img,
.ikeafood-img:hover img{
    width: 101%;
}

.jetflix-img:hover .text img,
.ikeafood-img:hover .text img{
    width: 70%;
}

.jetflix,
.ikeafood{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.jetflix .description span{
    color: #B80000;
}

.ikeafood .description span{
    color: #0058AB;
}

.projects .description p{
    color: white;
    text-align: center;
    line-height: 150%;
    font-size: 23px;
    margin-bottom: 30px;
}

.projects .description .year{
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

@media only screen and (max-width: 1420px){

    .navbar img{
        width: 8%;
    }

    .navbar .download-cv{
        font-size: 20px;
    }

    .text-home .typewritter{
        font-size: 76px;
    }

    .text-home span,
    .text-home p{
        font-size: 76px;
    }

    .text-home p{
        font-size: 22px;
    }

    .project-title h1,
    .project-title .dot{
        font-size: 58px;
    }

    .projects .description p{
        line-height: 150%;
        font-size: 20px;
    }

    .projects .description .year{
        font-size: 16px;
    }
}